<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright © 2020 By Geeks Empire.
  ~
  ~ Created by Elias Fazel on 8/2/20 10:38 PM
  ~ Last modified 8/2/20 8:55 PM
  ~
  ~ Licensed Under MIT License.
  ~ https://opensource.org/licenses/MIT
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abanabsalan.aban.magazine">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".AbanMagazinePhoneApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:appCategory="news"
        android:label="@string/applicationName"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:largeHeap="true"
        android:supportsPictureInPicture="true"
        android:resizeableActivity="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/icon_notification"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/default_color"/>

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${enableCrashReporting}" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/adMobAppId"/>

        <activity
            android:name="com.abanabsalan.aban.magazine.EntryConfiguration"
            android:theme="@style/GeeksEmpire.Material">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:label="@string/applicationName"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Material.HomePage"
            android:name=".HomePageConfigurations.UI.HomePage"/>

        <activity
            android:label="@string/applicationName"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:theme="@style/GeeksEmpire.Material.PostView"
            android:name="com.abanabsalan.aban.magazine.PostsConfigurations.SinglePost.SinglePostUI.SinglePostView"/>

        <activity
            android:label="@string/applicationName"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:theme="@style/GeeksEmpire.Material.FavoritesPostView"
            android:name=".PostsConfigurations.Favorites.UI.FavoritesPostsView"/>

        <activity
            android:label="@string/applicationName"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/GeeksEmpire.Material.CategoryPosts"
            android:name=".CategoriesConfigurations.UI.AllCategoryPosts"/>

        <activity
            android:label="@string/applicationName"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/GeeksEmpire.Material.WebView"
            android:name=".WebView.BuiltInWebView" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/GeeksEmpire.Material.Preferences"
            android:name=".Preferences.PreferencesController" />
        
        <service
            android:name=".Utils.RemoteTask.CloudNotificationHandler">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>